.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.slide1 .col-2 {
  margin-top: 2vw;
  margin-left: 2.5vw;
}
.footer {
  background-color: #212121;
  padding: 2vw;
  color: #eee;
  font-weight: 200;
  font-size: 12px;
}
.footer div ul {
  list-style: none;
}
.footer div h6 {
  text-align: center;
  color: gold;
}
.section1 .row .titulo {
  color: white;
  font-size: 30px;
  font-weight: "bold";
}

.figure :hover {
  color: #125ecf;
  font-weight: "800";
  font-size: 14.5px;
  
}
.figure :hover{
  filter: brightness(80%);
}

.section1 {
  margin-right: 0px;
}

.cmn-divfloat {
  position: fixed;
  bottom: 90px;
  right: 15px;
}